@CHARSET "UTF-8";

.navigator{
	background-image: url(../../images/menuicon/navigation.gif) !important;
}

.ondutymenu{
	background-image: url(../../images/menuicon/ondutymenu.png) !important;
}

.eventmenu{
	background-image: url(../../images/menuicon/eventmenu.png) !important;
}

.zhenwumanagemenu{
	background-image: url(../../images/menuicon/zhenwumenu.png) !important;
}

.tongjimenu{
	background-image: url(../../images/menuicon/tongjimenu.gif) !important;
}

.contactmenu{
	background-image: url(../../images/menuicon/contactmenu.png) !important;
}

.telmenu{
	background-image: url(../../images/menuicon/telmenu.png) !important;
}

.audiosysmenu{
	background-image: url(../../images/menuicon/audiosysmenu.png) !important;
}

.vediomenu{
	background-image: url(../../images/menuicon/vediomenu1.png) !important;
}

.sysmanagemenu{
	background-image: url(../../images/menuicon/sysmanagemenu1.png) !important;
}

.menu1-now{
	background-image: url(../../images/menuicon/menu1-now.gif) !important;
}

.menu1-history{
	background-image: url(../../images/menuicon/menu1-history.gif) !important;
}

.eventmenu-1{
	background-image: url(../../images/menuicon/eventmenu-1.png) !important;
}
.eventmenu-2{
	background-image: url(../../images/menuicon/eventmenu-2.png) !important;
}

.zhenwumanagemenu_1{
	background-image: url(../../images/menuicon/zhenwumanage_1.png) !important;
}

.zhenwumanagemenu_2{
	background-image: url(../../images/menuicon/zhenwumanage_2.png) !important;
}

.zhenwumanagemenu_3{
	background-image: url(../../images/menuicon/zhenwumanage_3.png) !important;
}

.tongjimenu-1{
	background-image: url(../../images/menuicon/tongjimenu-1.png) !important;
}

.contactmenu-1{
	background-image: url(../../images/menuicon/contactmenu-1.png) !important;
}

.contactmenu-2{
	background-image: url(../../images/menuicon/contactmenu-2.png) !important;
}

.contactmenu-3{
	background-image: url(../../images/menuicon/contactmenu-3.png) !important;
}

.contactmenu-4{
	background-image: url(../../images/menuicon/contactmenu-4.png) !important;
}

.contactmenu-5{
	background-image: url(../../images/menuicon/contactmenu-5.png) !important;
}

.telmenu-1{
	background-image: url(../../images/menuicon/telmenu-1.png) !important;
}

.telmenu-2{
	background-image: url(../../images/menuicon/telmenu-2.png) !important;
}

.audiosysmenu-1{
	background-image: url(../../images/menuicon/audiomenu-1.png) !important;
}

.videomenu-1{
	background-image: url(../../images/menuicon/videomenu-1.png) !important;
}

.sysmanagemenu-1{
	background-image: url(../../images/menuicon/sysmanagemenu-1.gif) !important;
}

.sysmanagemenu-2{
	background-image: url(../../images/menuicon/sysmanagemenu-2.gif) !important;
}

.sysmanagemenu-3{
	background-image: url(../../images/menuicon/sysmanagemenu-3.gif) !important;
}

.sys-logout{
	background-image: url(../../images/logout.gif) !important;
}

.chart_leaf{
	background-image: url(../../images/chart/chart_leaf.gif) !important;
}






















